## App
NODE_ENV=development
APP_PORT=5002
APP_NAME="RootXL"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:6001
BACKEND_DOMAIN=http://localhost:5002


## Database
DATABASE_TYPE=mongodb
DATABASE_PORT=27020
DATABASE_URL=mongodb://localhost:27020/
DATABASE_USERNAME=root
DATABASE_PASSWORD=vfNj43Reftad2IJHS
DATABASE_NAME_PRIMARY=rootxl_core_db
DATABASE_NAME_CHATBOT=chatbot_db

## AWS
# Support "local", "s3", "s3-presigned"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

## Mail
MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

## Auth
AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d
AUTH_FORGOT_SECRET=secret_for_forgot
AUTH_FORGOT_TOKEN_EXPIRES_IN=30m
AUTH_CONFIRM_EMAIL_SECRET=secret_for_confirm_email
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d

## Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

## Other
SERVICE_CONSUMER_TAG="portal_api_service_local"

## RabbitMQ
RABBITMQ_QUEUE_URL=amqp://127.0.0.1:5672

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PREFIX=local:portal_api::